/*
 * Copyright 2016 Hisashi Hata
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 * 3. Neither the name of the authors nor the names of the contributors
 *    may be used to endorse or promote products derived from this software
 *    without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHORS AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE AUTHORS OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 *
 * ftpd.cfg - This file is part of the FTP daemon for tinet
 *
 */
#include "middleware/tinet_ftpd/tinet_ftpd.h"

/*
 *  TCP FTPD サーバ #1、送受信タスク同一型
 *  コンフィギュレーションファイル
 */

/* タスク */

/* tcp reception point */

TCP_CRE_REP (TCP_FTPD_DATA_REPID, { 0, { IPV4_ADDRANY, 20 } } );
TCP_CRE_REP (TCP_FTPD_CONTROL_REPID, { 0, { IPV4_ADDRANY, 21 } } );

/* TCP trancever point */

TCP_CRE_CEP (TCP_FTPD_DATA_CEPID, {
	0,
	tcp_ftpd_data_swbuf,
	TCP_FTPD_DATA_SWBUF_SIZE,
	tcp_ftpd_data_rwbuf,
	TCP_FTPD_DATA_RWBUF_SIZE,
	NULL 
	} );

TCP_CRE_CEP (TCP_FTPD_CONTROL_CEPID, {
	0,
	tcp_ftpd_control_swbuf,
	TCP_FTPD_CONTROL_SWBUF_SIZE,
	tcp_ftpd_control_rwbuf,
	TCP_FTPD_CONTROL_RWBUF_SIZE,
	NULL 
	} );


